.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    transition: .5s;
    background-image: url('../assets/img/bg.png');
    background-size: cover;
}

.statistics__results {
    margin: 1vw;
    width: 80%;
    height: 80%;
    display: flex;
    @include media-mobiles-small {
        flex-direction: column;
    }
}

.wrapper_current {
    @extend %custom-scroll;
    width: 40%;
    position: relative;
    overflow-y: auto;
    background: #f9fffbcf;
}

.wrapper_current-allgame {
    background: #f9fffbcf;
    border: 2px solid #0b2d25;
    display: inline-block;
    margin: 5px;
    width: 70%;
}

.wrapper_all {
    @extend %custom-scroll;
    width: 600px;
    position: relative;
    overflow-y: auto;
    background-color: #132c3c7a;
}

.statistics__word {
    width: 300px;
    height: 26px;
    margin: 5px;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    &:hover {
        @extend %transition;
        box-shadow: 0px 0px 10px rgba(0, 173, 159, 0.75);
        background-color: rgba(60, 182, 172, 0.733);
    }
}

.all-game-word {
    height: 20px;
    display: flex;
    padding-left: 20px;
    overflow: hidden;
}

.title-results-current {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: #beff7dc2;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.title-results-all {
    position: sticky;
    top: 0;
    color: white;
    padding: 10px;
    background-color: #132c3ce6;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.title-results-allgame {
    padding: 3px 6px;
    background-color: #beff7d;
    display: flex;
    justify-content: space-evenly;
}

.know {
    color: rgb(13, 185, 13);
}

.errors-speech {
    color: rgb(233, 28, 21);
}

.date-stapm-game {
    background: #0b2d25;
    color: white;
    height: 25px;
}
