%transition {
    transition: all .5s ease-out;
}

%custom-scroll {
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px grey;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(17, 78, 53, 0.918);
        border-radius: 10px;
    }
}
